.main_list_video {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main_list_video nav {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.main_list_video nav img {
    width: 255px;
    height: 150px;
}

.main_list_video nav div {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.main_list_video nav div h3 {
    color: var(--fonte-04);
    font-family: var(--fonte-01);
    font-size: 0.9rem;
}

.main_list_video nav div p {
    color: var(--fonte-03);
    font-family: var(--fonte-03);
    font-size: 0.8rem;
}
